.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
    margin-bottom: 30px;
}

.box {
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.box1 {
    background-color: lightcoral;
}

.box2 {
    background-color: lightgreen;
}