.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box {
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.box1 {
    background-color: lightcoral;
}

.box2 {
    background-color: lightgreen;
}

.box3 {
    background-color: lightblue;
}